In [ ]:
import sys
# 프로젝트 루트 직접 지정
sys.path.insert(0, r"c:\Users\tjrrj\vscode\doritest")

In [7]:
import pandas as pd
from modules.transform.key_generator import add_surrogate_key

In [8]:
def coupang_eates_sales_df():
    """
    ============================================
    REQ_ID: REQ001
    요청일: 2025-12-11
    요청자: 정민주 (E001)
    팀: 매출
    상태: 진행중
    ============================================
    """

    df = pd.read_excel(
        r"D:\Download\coupang_eats_2025-11.xlsx",
        header=1           # 2행을 헤더로 사용
    )
    df = df[1:]
    df = df[["주문번호", "일자", "시간", "주문금액"]].tail(10)
    df["일자"] = pd.to_datetime(df["일자"]).dt.date
    df = add_surrogate_key(df, natural_key_cols=["주문번호", "일자", "시간"])
    df["주문금액"] = df["주문금액"].astype(int)
    df.rename(columns={"key" : "order_id"}, inplace=True)
    return df

In [9]:
coupang_eates_sales_df()

c:\Users\tjrrj\vscode\doritest\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

             order_id    주문번호          일자                  시간   주문금액
346  69af3c645c335122  1CELLL  2025-11-30 2025-11-30 13:39:08  16600
347  eb8f4cf6e038ab31  11L7JN  2025-11-30 2025-11-30 13:49:24  20000
348  da33d903bc6e1ecf  0VLHG1  2025-11-30 2025-11-30 14:05:41  17100
349  06c3b6f0ffd55e72  1RXA0P  2025-11-30 2025-11-30 14:31:40  17700
350  1534e14e0bc31c98  13XJM7  2025-11-30 2025-11-30 14:31:51  18300
351  3a5bbf466cab4e30  221F46  2025-11-30 2025-11-30 17:21:23  16100
352  80e79b569315f395  2TAWU6  2025-11-30 2025-11-30 17:35:32  28000
353  a5a11b36053c1c07  1NPZ3Z  2025-11-30 2025-11-30 17:46:40  15000
354  1c8a942e16dc2a28  0RWZDN  2025-11-30 2025-11-30 18:44:02  31500
355  27cfd89220369a4c  1VWRZ4  2025-11-30 2025-11-30 20:22:11  20500