In [1]:
import sys
# 프로젝트 루트 직접 지정
sys.path.insert(0, r"c:\Users\tjrrj\vscode\doritest")

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# 연결 문자열 구성
user = 'airflow'
password = 'airflow'
host = 'localhost'   # py 저장할때는 변경 host.docker.internal
port = '5433'        # PostgreSQL 기본 포트
database = 'airflow'

# sqlalchemy 연결 엔진 생성
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

# SQL 실행해서 데이터 가져오기
query = 'SELECT * FROM doridang.baemin_sales'
df = pd.read_sql(query, engine)

df

,order_id,order_number,order_date,order_time,order_amount,created_at
0,25501f4c34e41650,2DEKBH,2025-11-01,2025-11-01 13:41:28,24100,2025-12-12 09:06:09.428463
1,6c8f45025bbee74e,0YEE8K,2025-11-01,2025-11-01 14:49:24,56100,2025-12-12 09:06:09.428463
2,046b9cb1a9cc8dbe,29F98W,2025-11-01,2025-11-01 16:51:33,16100,2025-12-12 09:06:09.428463
3,dd24c62c2bbc9d22,1TY694,2025-11-01,2025-11-01 17:39:05,21400,2025-12-12 09:06:09.428463
4,45116497b2250554,28MJJK,2025-11-01,2025-11-01 18:25:45,16000,2025-12-12 09:06:09.428463

In [ ]:
# ========== 권장 구조 테스트 ==========
# 방법 1: 범용 조회 함수
from modules.extract import read_table

df1 = read_table("baemin_sales", schema="doridang")
print("=== read_table 전체 조회 ===")
print(df1.head())

# 방법 2: 컬럼 선택 + 정렬
df2 = read_table("baemin_sales", schema="doridang", 
                 columns=["order_id", "order_time", "order_amount"],
                 order_by="-order_amount")
print("\n=== read_table 컬럼 선택 + 정렬 ===")
print(df2.head())

In [ ]:
# ========== 기존 함수 호환 테스트 ==========
from modules import airflow_db_load_data

df3 = airflow_db_load_data(schema='doridang', columns=['order_id','order_time','order_amount'])
print("=== 기존 airflow_db_load_data (호환) ===")
print(df3.head())

           order_id          order_time  order_amount
0  25501f4c34e41650 2025-11-01 13:41:28         24100
1  6c8f45025bbee74e 2025-11-01 14:49:24         56100
2  046b9cb1a9cc8dbe 2025-11-01 16:51:33         16100
3  dd24c62c2bbc9d22 2025-11-01 17:39:05         21400
4  45116497b2250554 2025-11-01 18:25:45         16000

In [ ]:
# ========== 채널별 편의 함수 테스트 ==========
from modules import get_baemin_orders

# 전체 조회
df4 = get_baemin_orders()
print("=== get_baemin_orders 전체 ===")
print(df4.head())

# # 특정 날짜 조회 (컬럼 있으면 활성화)
# df5 = get_baemin_orders(date="2024-01-15")
# print("\n=== get_baemin_orders 날짜 필터 ===")
# print(df5.head())