In [1]:
import sys
# 프로젝트 루트 직접 지정
sys.path.insert(0, r"c:\Users\tjrrj\vscode\doritest")

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd

In [4]:
pd.read_excel(r"D:\Download\도리당_데이터\coupang_eats_2025-11.xlsx").head()

c:\Users\tjrrj\vscode\doritest\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,주문정보,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,매출액,...,Unnamed: 33,광고비,Unnamed: 35,Unnamed: 36,정산금액,Unnamed: 38,Unnamed: 39,Unnamed: 40,프로모션 혜택,환급액
0,일자,시간,주문번호,유형,상세내역,브랜드명,상점명,결제방식,거래유형,총금액,...,NaN,공급가액,부가세액,총액,산정전,NaN,산정후,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,총액,NaN,NaN,NaN,기본요금,프로모션,NaN,NaN,NaN,NaN
2,2025-11-01,2025-11-01 13:41:28,2DEKBH,배달,김치찜 먹고 싶을 땐 묵은지 도리탕,NaN,닭도리탕 전문 도리당 가락점,신용카드,결제,27100,...,6570,2410,241,2651,13879,13879,13879,NaN,0.0,0.0
3,2025-11-01,2025-11-01 14:49:24,0YEE8K,배달,을지로 순살 묵은지 곱도리탕,NaN,나홀로 곱도리탕 가락점,계좌이체,결제,58500,...,9359,0,0,0,42794,42794,43741,NaN,0.0,947.0
4,2025-11-01,2025-11-01 16:51:33,29F98W,배달,한그릇 1인 순살 나만의 도리당,NaN,닭도리탕 전문 도리당 가락점,현금,결제,19400,...,5554,0,0,0,7546,7546,7546,NaN,0.0,0.0

# 코드용

In [ ]:
# modules/extract/local_file.py
from pathlib import Path
import pandas as pd

BASE_DIR = Path("/opt/airflow/download")

def read_local_file(
    file_name: str,
    sheet_name: str | int | None = 0,
    columns: list[str] | None = None,
    encoding: str = "utf-8-sig"
) -> pd.DataFrame:
    """
    /opt/airflow/download/ 경로에 있는 로컬 파일(csv, xlsx)을
    파일명만 받아 DataFrame으로 반환한다.
    """

    path = BASE_DIR / file_name

    if not path.exists():
        raise FileNotFoundError(f"파일이 존재하지 않습니다: {path}")

    suffix = path.suffix.lower()

    if suffix == ".csv":
        df = pd.read_csv(path, encoding=encoding)

    elif suffix in [".xlsx", ".xls"]:
        df = pd.read_excel(path, sheet_name=sheet_name)

    else:
        raise ValueError(f"지원하지 않는 파일 형식입니다: {suffix}")

    if columns:
        df = df[columns]

    return df

# test

In [7]:
# modules/extract/local_file.py
from pathlib import Path
import pandas as pd

BASE_DIR = Path(r"D:\Download")

def nb_read_local_file(
    file_name: str,
    sheet_name: str | int | None = 0,
    columns: list[str] | None = None,
    encoding: str = "utf-8-sig"
) -> pd.DataFrame:
    """
    /opt/airflow/download/ 경로에 있는 로컬 파일(csv, xlsx)을
    파일명만 받아 DataFrame으로 반환한다.
    """

    path = BASE_DIR / file_name

    if not path.exists():
        raise FileNotFoundError(f"파일이 존재하지 않습니다: {path}")

    suffix = path.suffix.lower()

    if suffix == ".csv":
        df = pd.read_csv(path, encoding=encoding)

    elif suffix in [".xlsx", ".xls"]:
        df = pd.read_excel(path, sheet_name=sheet_name)

    else:
        raise ValueError(f"지원하지 않는 파일 형식입니다: {suffix}")

    if columns:
        df = df[columns]

    return df

In [9]:
nb_read_local_file(file_name="coupang_eats_2025-11.xlsx").head()

c:\Users\tjrrj\vscode\doritest\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,주문정보,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,매출액,...,Unnamed: 33,광고비,Unnamed: 35,Unnamed: 36,정산금액,Unnamed: 38,Unnamed: 39,Unnamed: 40,프로모션 혜택,환급액
0,일자,시간,주문번호,유형,상세내역,브랜드명,상점명,결제방식,거래유형,총금액,...,NaN,공급가액,부가세액,총액,산정전,NaN,산정후,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,총액,NaN,NaN,NaN,기본요금,프로모션,NaN,NaN,NaN,NaN
2,2025-11-01,2025-11-01 13:41:28,2DEKBH,배달,김치찜 먹고 싶을 땐 묵은지 도리탕,NaN,닭도리탕 전문 도리당 가락점,신용카드,결제,27100,...,6570,2410,241,2651,13879,13879,13879,NaN,0.0,0.0
3,2025-11-01,2025-11-01 14:49:24,0YEE8K,배달,을지로 순살 묵은지 곱도리탕,NaN,나홀로 곱도리탕 가락점,계좌이체,결제,58500,...,9359,0,0,0,42794,42794,43741,NaN,0.0,947.0
4,2025-11-01,2025-11-01 16:51:33,29F98W,배달,한그릇 1인 순살 나만의 도리당,NaN,닭도리탕 전문 도리당 가락점,현금,결제,19400,...,5554,0,0,0,7546,7546,7546,NaN,0.0,0.0