In [1]:
import sys
# 프로젝트 루트 직접 지정
sys.path.insert(0, r"c:\Users\tjrrj\vscode\doritest")

In [ ]:
from modules.transform.key_generator import add_surrogate_key
import modules.common.config as config

# 코드

In [ ]:
import pandas as pd

col = ['account_id', 'store_id', 'collected_at', '조리소요시간', '조리소요시간_순위구분', '조리소요시간_순위', '주문접수율']

# 중괄호{}를 대괄호[]로 수정 (리스트 안의 리스트 구조)
data = [
    ['doridang04', '14778331', "2025-12-17 11:51:01", 30, '하위', 20, 100.0],
    ['doridang04', '14535911', "2025-12-17 11:51:16", 30, '하위', 20, 99.3]
]

baemin_df = pd.DataFrame(columns=col, data=data)
baemin_df

,account_id,store_id,collected_at,조리소요시간,조리소요시간_순위구분,조리소요시간_순위,주문접수율
0,doridang04,14778331,2025-12-17 11:51:01,30,하위,20,100.0
1,doridang04,14535911,2025-12-17 11:51:16,30,하위,20,99.3

In [16]:
baemin_df['store_name'] = baemin_df['store_id'].map({store['store_id']: store['store_name'] for store in STORES})

In [17]:
baemin_df = add_surrogate_key(baemin_df, ['account_id', 'store_id', 'collected_at']).rename(columns={'key': 'store_op_id'})
baemin_df

,store_op_id,account_id,store_id,collected_at,조리소요시간,조리소요시간_순위구분,조리소요시간_순위,주문접수율,store_name
0,17c5b5e9b286aa02,doridang04,14778331,2025-12-17 11:51:01,30,하위,20,100.0,[음식배달] 나홀로 1인 곱도리탕 가락점
1,d8860a49f35c14d7,doridang04,14535911,2025-12-17 11:51:16,30,하위,20,99.3,[음식배달] 닭도리탕 전문 도리당 가락점

In [ ]:
from modules.transform.key_generator import add_surrogate_key
import modules.common.config as config
baemin_df['store_name'] = baemin_df['store_id'].map({store['store_id']: store['store_name'] for store in config.STORES})
baemin_df = add_surrogate_key(baemin_df, ['account_id', 'store_id', 'collected_at']).rename(columns={'key': 'store_op_id'})