In [644]:
import sys
import pandas as pd
import numpy as np
# 프로젝트 루트 직접 지정
sys.path.insert(0, r"c:\Users\tjrrj\vscode\doritest")

# 코드

In [645]:
baemin_orders = pd.read_csv(r"E:\d_down\baemin_orders_[음식배달]_닭도리탕_전문_도리당_가락점_unknown_20251230.csv", encoding='utf-8')

In [646]:
baemin_orders['platform'] = '배민'

In [647]:
baemin_orders.head()

,collected_at,store_name,주문상태,주문번호,주문시각,광고상품,캠페인ID,주문내역,주문수량,결제타입,...,주문옵션상세,주문옵션금액,주문중개,고객할인비용,배달,그외,부가세,만나서결제금액,입금예정금액,platform
0,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,바로결제,...,[한우 대창] 한우 순살 곱도리탕,27800,24802.0,1000.0,-4309.0,-505.0,-692.0,NaN,19296.0,배민
1,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,바로결제,...,[후.참] 계란,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,배민
2,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,바로결제,...,기본 치킨무 빼주세요,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,배민
3,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,바로결제,...,대파 추가,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,배민
4,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,바로결제,...,중간매운맛(신라면 보다 좀 더 매움),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,배민

In [648]:
baemin_orders.columns

Index(['collected_at', 'store_name', '주문상태', '주문번호', '주문시각', '광고상품', '캠페인ID',
       '주문내역', '주문수량', '결제타입', '수령방법', '결제금액', '상품금액', '즉시할인', '즉시할인_파트너부담',
       '즉시할인_배민지원', '배민부담_쿠폰할인', '총결제금액', '주문옵션상세', '주문옵션금액', '주문중개', '고객할인비용',
       '배달', '그외', '부가세', '만나서결제금액', '입금예정금액', 'platform'],
      dtype='object')

In [649]:
baemin_orders['fee_ad'] = (baemin_orders['즉시할인'] + baemin_orders['고객할인비용']) * -1

In [650]:
baemin_orders.columns

Index(['collected_at', 'store_name', '주문상태', '주문번호', '주문시각', '광고상품', '캠페인ID',
       '주문내역', '주문수량', '결제타입', '수령방법', '결제금액', '상품금액', '즉시할인', '즉시할인_파트너부담',
       '즉시할인_배민지원', '배민부담_쿠폰할인', '총결제금액', '주문옵션상세', '주문옵션금액', '주문중개', '고객할인비용',
       '배달', '그외', '부가세', '만나서결제금액', '입금예정금액', 'platform', 'fee_ad'],
      dtype='object')

In [651]:
# 주문중개 = 주문금액 - 중개이용료 - 고객할인비용
# 중개이용료 = 주문금액(상품금액) - 고객할인비용 - 주문중개
baemin_orders['fee_commission'] = baemin_orders["상품금액"] - baemin_orders["고객할인비용"] - baemin_orders["주문중개"]

In [652]:
baemin_orders.columns

Index(['collected_at', 'store_name', '주문상태', '주문번호', '주문시각', '광고상품', '캠페인ID',
       '주문내역', '주문수량', '결제타입', '수령방법', '결제금액', '상품금액', '즉시할인', '즉시할인_파트너부담',
       '즉시할인_배민지원', '배민부담_쿠폰할인', '총결제금액', '주문옵션상세', '주문옵션금액', '주문중개', '고객할인비용',
       '배달', '그외', '부가세', '만나서결제금액', '입금예정금액', 'platform', 'fee_ad',
       'fee_commission'],
      dtype='object')

In [653]:
baemin_orders = baemin_orders.drop(columns=['결제타입', '결제금액', '즉시할인_파트너부담', '즉시할인_배민지원',
                                            '배민부담_쿠폰할인', '주문중개', '고객할인비용'
                                            ])

In [654]:
baemin_orders.rename(columns={'주문상태':'order_status',
                              '주문번호' : 'order_id',
                              '주문시각' : 'order_date',
                              '광고상품' : 'ad_product',
                              '캠페인ID': 'ad_id',
                              '주문내역' : 'order_summary',
                              '주문수량' : 'option_qty',
                              '수령방법' : 'delivery_type',
                              '총결제금액' : 'total_amount',
                              '상품금액' : 'menu_amount',
                              '즉시할인' : 'instant_discount_coupon',
                              '부가세' : 'fee_vat',
                              '정산금액' : 'settlement_amount',
                              '만나서결제금액' : 'fee_meet_pay_amount',
                              '그외' : 'fee_etc',
                              '입금예정금액' : 'settlement_amount',
                              '배달' : 'fee_delivery',
                              '주문옵션금액' : 'menu_option_price',
                              '주문옵션상세' :'menu_option_name',
                              
                              }, inplace=True)
baemin_orders.head()

,collected_at,store_name,order_status,order_id,order_date,ad_product,ad_id,order_summary,option_qty,delivery_type,...,menu_option_name,menu_option_price,fee_delivery,fee_etc,fee_vat,fee_meet_pay_amount,settlement_amount,platform,fee_ad,fee_commission
0,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,한집배달,...,[한우 대창] 한우 순살 곱도리탕,27800,-4309.0,-505.0,-692.0,NaN,19296.0,배민,-4000.0,2098.0
1,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,한집배달,...,[후.참] 계란,100,NaN,NaN,NaN,NaN,NaN,배민,NaN,NaN
2,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,한집배달,...,기본 치킨무 빼주세요,0,NaN,NaN,NaN,NaN,NaN,배민,NaN,NaN
3,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,한집배달,...,대파 추가,0,NaN,NaN,NaN,NaN,NaN,배민,NaN,NaN
4,2025-12-30T01:28:44.977Z,[음식배달] 닭도리탕 전문 도리당 가락점,배달완료,T2920001QRX0,2025. 12. 28. (일) 오후 10:01:46,배민1플러스 (배민클럽),12597302,[한우 대창] 한우 순살 곱도리탕,1,한집배달,...,중간매운맛(신라면 보다 좀 더 매움),0,NaN,NaN,NaN,NaN,NaN,배민,NaN,NaN

In [655]:
baemin_orders.columns

Index(['collected_at', 'store_name', 'order_status', 'order_id', 'order_date',
       'ad_product', 'ad_id', 'order_summary', 'option_qty', 'delivery_type',
       'menu_amount', 'instant_discount_coupon', 'total_amount',
       'menu_option_name', 'menu_option_price', 'fee_delivery', 'fee_etc',
       'fee_vat', 'fee_meet_pay_amount', 'settlement_amount', 'platform',
       'fee_ad', 'fee_commission'],
      dtype='object')

In [656]:
baemin_orders['store_id'] = np.nan

In [657]:
baemin_orders['instant_discount_coupon_YN'] = np.where(baemin_orders.groupby('order_id')["instant_discount_coupon"].transform('sum') > 0, 'Y', 'N')

In [658]:
baemin_orders = baemin_orders[['platform','order_date','store_id','store_name',
       'ad_id', 'ad_product', 'order_id','order_summary','menu_option_name', 'option_qty', 'delivery_type',
       'total_amount', 'menu_amount', 'menu_option_price', 'instant_discount_coupon', 'instant_discount_coupon_YN',
       'fee_ad','settlement_amount','collected_at']]

In [659]:
baemin_orders['fee_ad'] = abs(baemin_orders['fee_ad'])

In [660]:
baemin_orders

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at
0,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,27800,3000.0,Y,4000.0,19296.0,2025-12-30T01:28:44.977Z
1,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,100,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
2,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,기본 치킨무 빼주세요,1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
3,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,대파 추가,1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
4,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,중간매운맛(신라면 보다 좀 더 매움),1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,배민,2025. 12. 23. (화) 오전 11:05:24,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스,T28X00007OAN,[집밥같은] 도리당 닭도리탕,기본맛,1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
608,배민,2025. 12. 23. (화) 오전 11:05:24,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스,T28X00007OAN,[집밥같은] 도리당 닭도리탕,국물많이(중간보다 위),1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
609,배민,2025. 12. 23. (화) 오전 11:05:24,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스,T28X00007OAN,[집밥같은] 도리당 닭도리탕,기본 치킨무 빼주세요,1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
610,배민,2025. 12. 23. (화) 오전 11:05:24,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스,T28X00007OAN,[집밥같은] 도리당 닭도리탕,[후.참] 괜찮습니다.,1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
611,배민,2025. 12. 23. (화) 오전 11:05:24,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스,T28X00007OAN,[집밥같은] 도리당 닭도리탕,대파 추가,1,한집배달,NaN,NaN,0,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z

# 쿠팡

In [661]:
coupang_orders = pd.read_csv(r"E:\d_down\coupangeats_orders_닭도리탕_전문_도리당_가락점_814147_20251230.csv", encoding='utf-8')

In [662]:
coupang_df = coupang_orders.copy()

In [663]:
cond_df = coupang_df[coupang_df["is_cancelled"] == 'N']
cond = cond_df['order_id'].unique()
coupang_df = coupang_df[coupang_df['order_id'].isin(cond)]

In [664]:
coupang_df['platform'] = '쿠팡'

In [665]:
baemin_orders.columns

Index(['platform', 'order_date', 'store_id', 'store_name', 'ad_id',
       'ad_product', 'order_id', 'order_summary', 'menu_option_name',
       'option_qty', 'delivery_type', 'total_amount', 'menu_amount',
       'menu_option_price', 'instant_discount_coupon',
       'instant_discount_coupon_YN', 'fee_ad', 'settlement_amount',
       'collected_at'],
      dtype='object')

In [666]:
baemin_orders['menu_option_price'] = np.nan

In [667]:
baemin_orders = baemin_orders.rename(columns={'instant_discount_amount':'instant_discount_coupon'})

In [668]:
coupang_df.columns

Index(['collected_at', 'store_id', 'store_name', 'order_date', 'order_id',
       'delivery_type', 'order_status', 'order_summary', 'total_price',
       'is_cancelled', 'menu_name', 'menu_qty', 'menu_price', 'menu_options',
       '매출액', '상점부담_쿠폰', '중개_이용료', '결제대행사_수수료', '배달비', '광고비', '부가세', '즉시할인금액',
       '정산_예정_금액', '취소금액', 'platform'],
      dtype='object')

In [669]:
coupang_df['ad_id'] = np.nan
coupang_df['ad_product'] = np.nan

In [670]:
coupang_dfs = coupang_df [['platform', 'order_date', 'store_id', 'store_name', 'ad_id', 'ad_product',
 'order_id','order_summary', 'menu_name', 'menu_qty','delivery_type',
    'menu_price', 
       '매출액', '광고비','상점부담_쿠폰',
       '정산_예정_금액', 'collected_at']]

coupang_dfs.head()

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_name,menu_qty,delivery_type,menu_price,매출액,광고비,상점부담_쿠폰,정산_예정_금액,collected_at
0,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,31500.0,31500.0,3150.0,0.0,NaN,2025-12-30T04:41:53.714Z
1,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
2,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
3,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
4,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z

In [671]:
baemin_orders.head(2)

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at
0,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30T01:28:44.977Z
1,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z

In [672]:
coupang_dfs.rename(columns={'menu_name':'menu_option_name',
                             'menu_qty':'option_qty',
                             'menu_price':'total_amount',
                             'menu_options':'menu_option_price',
                             '매출액': 'menu_price',
                             '광고비' : 'fee_ad',
                             '상점부담_쿠폰' : 'instant_discount_coupon',
                             '정산_예정_금액' : 'settlement_amount'
                             }, inplace=True)
coupang_dfs

C:\Users\민준\AppData\Local\Temp\ipykernel_16368\4266811289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coupang_dfs.rename(columns={'menu_name':'menu_option_name',

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_price,fee_ad,instant_discount_coupon,settlement_amount,collected_at
0,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,31500.0,31500.0,3150.0,0.0,NaN,2025-12-30T04:41:53.714Z
1,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
2,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
3,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
4,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,쿠팡,2025.11.01 13:41,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,24100.0,24100.0,2410.0,1000.0,NaN,2025-12-30T04:41:53.714Z
1341,쿠팡,2025.11.01 13:41,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
1342,쿠팡,2025.11.01 13:41,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
1343,쿠팡,2025.11.01 13:41,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
1344,쿠팡,2025.11.01 13:41,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z

In [673]:
baemin_orders.columns

Index(['platform', 'order_date', 'store_id', 'store_name', 'ad_id',
       'ad_product', 'order_id', 'order_summary', 'menu_option_name',
       'option_qty', 'delivery_type', 'total_amount', 'menu_amount',
       'menu_option_price', 'instant_discount_coupon',
       'instant_discount_coupon_YN', 'fee_ad', 'settlement_amount',
       'collected_at'],
      dtype='object')

In [674]:
coupang_dfs.columns

Index(['platform', 'order_date', 'store_id', 'store_name', 'ad_id',
       'ad_product', 'order_id', 'order_summary', 'menu_option_name',
       'option_qty', 'delivery_type', 'total_amount', 'menu_price', 'fee_ad',
       'instant_discount_coupon', 'settlement_amount', 'collected_at'],
      dtype='object')

In [675]:
baemin_orders.head()

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at
0,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30T01:28:44.977Z
1,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
2,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,기본 치킨무 빼주세요,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
3,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,대파 추가,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
4,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,중간매운맛(신라면 보다 좀 더 매움),1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z

In [676]:
coupang_dfs = coupang_dfs[
       ['platform', 'order_date', 'store_id', 'store_name', 'ad_id',
       'ad_product', 'order_id', 'order_summary', 'menu_option_name',
       'option_qty', 'delivery_type', 'total_amount', 'fee_ad',
       'instant_discount_coupon', 'settlement_amount', 'collected_at']]

coupang_dfs.head(2)

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,fee_ad,instant_discount_coupon,settlement_amount,collected_at
0,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,31500.0,3150.0,0.0,NaN,2025-12-30T04:41:53.714Z
1,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z

In [677]:
baemin_orders.head()

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at
0,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30T01:28:44.977Z
1,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
2,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,기본 치킨무 빼주세요,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
3,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,대파 추가,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z
4,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,중간매운맛(신라면 보다 좀 더 매움),1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30T01:28:44.977Z

In [678]:
coupang_dfs.head()

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,fee_ad,instant_discount_coupon,settlement_amount,collected_at
0,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,31500.0,3150.0,0.0,NaN,2025-12-30T04:41:53.714Z
1,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
2,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
3,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z
4,쿠팡,2025.11.30 18:43,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,2025-12-30T04:41:53.714Z

In [679]:
coupang_dfs['menu_amount'] = coupang_dfs['total_amount']
coupang_dfs['menu_option_price'] = np.nan

In [680]:
coupang_dfs['instant_discount_amount_YN'] = np.where(coupang_dfs.groupby('order_id')["instant_discount_coupon"].transform('sum') > 0, 'Y', 'N')

In [681]:
coupang_dfs = coupang_dfs[['platform', 'order_date', 'store_id', 'store_name', 'ad_id',
       'ad_product', 'order_id', 'order_summary', 'menu_option_name',
       'option_qty', 'delivery_type', 'total_amount', 'menu_amount',
       'menu_option_price', 'instant_discount_coupon',
       'instant_discount_amount_YN', 'fee_ad', 'settlement_amount',
       'collected_at']]

# 병합

In [691]:
baemin_orders.head(2)

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at
0,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30 01:28:44.977000+00:00
1,배민,2025. 12. 28. (일) 오후 10:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00

In [692]:
# 방법 2: 요일과 오전/오후 제거 후 파싱
baemin_orders['order_date'] = baemin_orders['order_date'].str.replace(r'\([월화수목금토일]\)', '', regex=True)
baemin_orders['order_date'] = baemin_orders['order_date'].str.replace('오전', 'AM').str.replace('오후', 'PM')
baemin_orders['order_date'] = pd.to_datetime(baemin_orders['order_date'], format='%Y. %m. %d.  %p %I:%M:%S', errors='coerce')

In [693]:
baemin_orders['collected_at'] = pd.to_datetime(baemin_orders['collected_at'])

In [694]:
baemin_orders.head(2)

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at
0,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30 01:28:44.977000+00:00
1,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00

In [695]:
coupang_dfs.head(2)

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_amount_YN,fee_ad,settlement_amount,collected_at
0,쿠팡,2025-11-30 18:43:00,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,31500.0,31500.0,NaN,0.0,N,3150.0,NaN,2025-12-30 04:41:53.714000+00:00
1,쿠팡,2025-11-30 18:43:00,814147,닭도리탕 전문 도리당 가락점,NaN,NaN,0RWZDN,[삼계탕] 누룽지 닭한마리,[삼계탕] 누룽지 닭한마리,1,배달,NaN,NaN,NaN,NaN,N,NaN,NaN,2025-12-30 04:41:53.714000+00:00

In [690]:
coupang_dfs["order_date"] = pd.to_datetime(coupang_dfs["order_date"])
coupang_dfs["collected_at"] = pd.to_datetime(coupang_dfs["collected_at"])

In [699]:
orders_concat = pd.concat([baemin_orders, coupang_dfs], axis=0).reset_index(drop=True)

In [700]:
orders_concat

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at,instant_discount_amount_YN
0,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30 01:28:44.977000+00:00,NaN
1,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
2,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,기본 치킨무 빼주세요,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
3,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,대파 추가,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
4,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,중간매운맛(신라면 보다 좀 더 매움),1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,24100.0,24100.0,NaN,1000.0,NaN,2410.0,NaN,2025-12-30 04:41:53.714000+00:00,Y
1910,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y
1911,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y
1912,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y
1913,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y

# 이상치 설정

In [701]:
orders_concat

,platform,order_date,store_id,store_name,ad_id,ad_product,order_id,order_summary,menu_option_name,option_qty,delivery_type,total_amount,menu_amount,menu_option_price,instant_discount_coupon,instant_discount_coupon_YN,fee_ad,settlement_amount,collected_at,instant_discount_amount_YN
0,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[한우 대창] 한우 순살 곱도리탕,1,한집배달,26900.0,27900.0,NaN,3000.0,Y,4000.0,19296.0,2025-12-30 01:28:44.977000+00:00,NaN
1,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,[후.참] 계란,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
2,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,기본 치킨무 빼주세요,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
3,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,대파 추가,1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
4,배민,2025-12-28 22:01:46,NaN,[음식배달] 닭도리탕 전문 도리당 가락점,12597302.0,배민1플러스 (배민클럽),T2920001QRX0,[한우 대창] 한우 순살 곱도리탕,중간매운맛(신라면 보다 좀 더 매움),1,한집배달,NaN,NaN,NaN,NaN,Y,NaN,NaN,2025-12-30 01:28:44.977000+00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,24100.0,24100.0,NaN,1000.0,NaN,2410.0,NaN,2025-12-30 04:41:53.714000+00:00,Y
1910,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y
1911,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y
1912,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y
1913,쿠팡,2025-11-01 13:41:00,814147.0,닭도리탕 전문 도리당 가락점,NaN,NaN,2DEKBH,[김치찜 먹고 싶을 땐] 묵은지 도리탕,[김치찜 먹고 싶을 땐] 묵은지 도리탕,1,배달,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-12-30 04:41:53.714000+00:00,Y